@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap";

:root {
  --headerTextColor: white;
  --bgColor: #161a2c;
  --sColor: #fdb64e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

*::-webkit-scrollbar {
  height: 4px;
}
*::-webkit-scrollbar {
  width: 4px;
  background-color: var(--scroll-first);
}
*::-webkit-scrollbar-corner {
  background-color: var(--scroll-first);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-sec);
}
*::-webkit-scrollbar-track {
  background-color: var(--scroll-third);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
 text-decoration: none;
}

li {
  list-style: none;
}
body {
    background-color: var(--bgColor);
}
.container {
    max-width: 1350px;
    margin: auto;
    padding: 15px;
}

.flex-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    width: 50px;
    height: 50px;
}

.navbar-links {
    display: flex;
    gap: 50px;
}

.logo-links {
    display: flex;
    gap: 7px;
    align-items: center;
}

.logo-links > h1 {
    background-image: linear-gradient(180deg, #fef37a 0%, #fed67a 70%, #df681e 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 26px;
}

h3 {
    color: var(--headerTextColor);
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1em;
}

.main-button {
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: var(--sColor);
    border: none;
    cursor: pointer;
    float: right;
}

.main-button > p {
   color: white;
   font-weight: 450;
}

.main-button:hover {
    box-shadow: 0 0 10px #7d783e;
}

@media screen and (max-width: 1000px){
    .navbar-links {
        display: none;
    }
    .flex-items > .main-button {
        display: none;
    }
    .bx-menu {
        display: block !important;
    }
    .main-button {
        display: none;
    }
  }

  .bx-menu {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;
    float: right;
  }